// Font Sizes
.fs12 {
  font-size: rem(12px);
}
.fs14 {
  font-size: rem(14px);
}
.fs18 {
  font-size: rem(18px);
}
.fs20 {
  font-size: rem(20px);
}
.fs24 {
  font-size: rem(24px);
}
.fs28 {
  font-size: rem(28px);
}
.fs30 {
  font-size: rem(30px);
}

// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.space-evenly{
    justify-content:space-evenly;
  }
  &.space-between{
    justify-content:space-between;
  }
  &.space-around{
    justify-content:space-around;
  }
  &.gap-10px {
    gap: 10px;
  }
  &.gap-60px {
    gap: 60px;
  }
  &.gap-30px {
    gap: 30px;
  }

  ul {
    margin-top: 0;
  }

  .continer-skins {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    gap: 20px;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}
